.container{
  display: grid;
  grid-template-areas:
    'header header'
    'main aside';
  background-color: #f0f4ff;
  background-image: linear-gradient(135deg, #89f7fe 0%, #66a6ff 50%, #7b61ff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
